
<style type="text/css">
    .demo { text-align: center; margin: 40px auto;width: 600px; }
    .algolia-autocomplete {
        width: 100%;
    }
    .algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
        width: 100%;
    }
    .algolia-autocomplete .aa-hint {
        color: #999;
    }
    .algolia-autocomplete .aa-dropdown-menu {
        width: 100%;
        background-color: #fff;
        border: 1px solid #999;
        border-top: none;
    }
    .algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
        cursor: pointer;
        padding: 5px 4px;
    }
    .algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
        background-color: #B2D7FF;
    }
    .algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
        font-weight: bold;
        font-style: normal;
    }
    .algolia-autocomplete .category {
        text-align: left;
        background: #efefef;
        padding: 10px 5px;
        font-weight: bold;
    }
</style>


<div class="demo">
    <h3>Basic Example</h3>
    <input class="autocomplete" type="text" placeholder="Start typing" id="autocomplete-algolia"  spellcheck="false"/>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eaque iusto laudantium molestias praesentium quia veritatis. A adipisci deserunt eius, fuga harum id, modi molestiae nemo nulla obcaecati perspiciatis repellat!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae eaque iusto laudantium molestias praesentium quia veritatis. A adipisci deserunt eius, fuga harum id, modi molestiae nemo nulla obcaecati perspiciatis repellat!</p>
</div>

<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.jquery.min.js"></script>
<script type="text/javascript">
    /**
     * This example uses the raw JavaScript client and autocomplete.js.
     * If you plan on building a dropdown UI, we encourage you to use this library.
     * It integrates really well with Algolia and also handle custom templating, keyboard navigation and a few other goodies.
     * https://github.com/algolia/autocomplete.js
     **/

    /**
     * It might be a good idea to use html5 data attributes for applicationID, apiKey, index and move css and js sections to theme files!
     **/
    (function($){
        $(document).ready(function() {
            // Replace the following values by your ApplicationID and ApiKey.
            var client = algoliasearch('{{ applicationID }}', '{{ apiKey }}');
            // Replace the following value by the name of the index you want to query.
            var index = client.initIndex('{{ index }}');
            // basic autocomplete
            $('#autocomplete-algolia').autocomplete(null, {
                source: $.fn.autocomplete.sources.hits(index),
                displayKey: 'title'
            });

        });
    })(jQuery);
</script>